
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lavender;
  color: #485a44;
}

.content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageText{
  font-size: 100px;
}

ul{
  list-style: none;
  display: flex;
  gap: 30px;
}

.todoCard{
  background-color: ghostwhite;
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid #000; */
  box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.todoCard:hover{
  transform: translateY(-5px);
  box-shadow: 4px 6px 8px rgba(0,0,0,0.25);
}

.todosContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 0 50px;
}

h1{
  margin: 40px;
  text-align: center;
}

.navbarUL{
  background-color: dimgray;
  padding: 10px;
  margin: 0;
  border: none;
}
.navbarUL a{
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 11px;
  transition: all 0.3s ease;
}

.navbarUL a:hover{
  background-color: lavender;
  color: dimgray;
}

